body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('assets/lang.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: papayawhip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(min-width: 668px) {
  body {
    background-image: url('assets/medium.jpg');
  }
}

@media(min-width: 1025px) {
  body {
    background-image: url('assets/test.jpg');
  }
}